$grey: #B8BBBC;
$light-grey: #828282;
$white: #FFFFFF;
$offwhite: #E6E6E6;
$red: #D81515;
$green: #00A515;

$app-background: $offwhite;

$parking-available: $light-grey;
$parking-taken: $red;
$parking-selected: $green;
$parking-hover: #A9A9A9;